body {
	font-family: 'Arial', sans-serif;
	color: #2a4758;
	background: #ffffff;
}

h1 {}
h2 {}

a:link {
 	color: #a05258;
}

a:visited {
	color: #f05b62;
}

a:hover {
	color: #f05b62;
}

a:active {
	color: #ffffff;
}

main {
	margin: auto auto;
	padding: 5%;
}

header {
	clear: both;
	margin-bottom: 2em;
}

header .logo{
	display: block;
	margin: 0 auto;
}

header h1 {
	text-align: center;
	margin-bottom: 0;
}

section {
	clear: both;
	margin: auto auto;
}

.col{
	width: 25%;
	min-height: 400px;
	float: left;
}

.col h4 {
	text-align: center;
	margin: 0 5px;
	background: #e4e9e5;
	padding: 15px 0px;
}

li {
	font-size: 15px;
	padding-top: .2em;
	padding-bottom: .1em;
}

footer{
	text-align: center;
}

/** Homework **/
.bill {
	margin: auto auto;
	display: block;
	width: 400px;
	border: 3px solid black;
	border-radius: 20px;
}
