body {
	font-family: 'PT Sans Narrow', sans-serif;
	color: #2a4758;
	background: #ffffff;
}

h1 {}
h2 {}

a:link {
 	color: #a05258;
}

a:visited {
	color: #f05b62;
}

a:hover {
	color: #f05b62;
}

a:active {
	color: #ffffff;
}

main {
	margin: auto auto;
	padding:0 5%;
	/* min-width: 400px; */
}

header {
	clear: both;
	margin-bottom: 2em;
}

header .logo{
	display: block;
	margin: 0 auto;
}

header h1 {
	text-align: center;
	margin-bottom: 0;
}

section {
	clear: both;
	margin: 0 auto;
	min-height: 600px;
	width: 400px;
}

.col-1 {
	width: 95%;
	float: left;
}

.col-1 .title {
	text-align: center;
	margin: 0 5px;
	background: #e4e9e5;
	padding: 15px 0px;
}

.col-1 .title img {
	vertical-align: middle;
	margin-right: 3px;
}

.col-1 .title h4 {
	vertical-align: middle;
	margin: 0;
	padding: 0 5px;
}

.col-1 li {
	font-size: 15px;
	padding-top: .2em;
	padding-bottom: .1em;
}

footer{
	text-align: center;
}


@media (max-width: 845px) {
	section {
		/* width:95%; */
	}

  .col-1 {
    width: 97%;
  }
	.col-1 .title {
		min-height: 18px;
	}
}
